.WhiteBox{
    background-color: var(--accent2);
    height: 5vh;
    box-shadow: rgba(96, 238, 210, 0.823) 0px 13px 27px -5px;
}

.counterBox{
    color:var(--accent);
    background-color: var(--font);
}