@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Dosis&family=Lato&family=Open+Sans&family=Pacifico&family=Playfair+Display&family=Poppins:wght@300;400;500;600&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

html {
  scroll-padding-top: calc(4.5rem - 1px);
}





